/*
border:1px solid red;
background-color:red;
*/

body {
	margin:20px 20px;
	font-family:宋体;
	font-size:1.1em;
}

/*
.pager_button {
	height:25px;
	width:25px;
}
*/

/*让button字体居中显示*/
.ui-button-text-only .ui-button-text {
	padding:0;
}

/*设置“提交”，“重置”按钮样式*/
input[type="submit"],input[type="reset"]{
	padding:0;
	height:35px;
	width:55px;
	margin-bottom:10px;
}

.center {
	text-align:center;
}

/*缩短弹出页面的标题栏宽度*/
.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em 1em;
    position: relative;
}

table{
	width:100%;
	border:#a6c9e2 solid 1px;
	border-collapse:collapse;/*表格的边框合并为一个单一的边框*/
}

table caption{
	text-align:left;
	padding-left:5px;
}

.grid_table th,.grid_table td{
	border:#a6c9e2 solid 1px;
}

.grid_table th,.pager{
	text-align:center;
	background-color:#e3f1fc;
	color:#217bc0;
}

.pager_navigator{
	width:60%;
	float:left;
	text-align:right;
}

.pager_display{
	width:40%;
	float:right;
	text-align:right;
	margin-top:4px;/*垂直居中显示*/
}

.grid_button{
	float:right;
	height:36px;
	width:46px;
	margin-top:20px；
}