/*
border:1px solid red;
background-color:red;
*/

body {
	margin:20px 20px;
	font-family:宋体;
	font-size:1.1em;
}

/*
.pager_button {
	height:25px;
	width:25px;
}
*/

/*让button字体居中显示*/
.ui-button-text-only .ui-button-text {
	padding:0;
}

/*设置“提交”，“重置”按钮样式*/
input[type="submit"],input[type="reset"]{
	padding:0;
	height:35px;
	width:55px;
	margin-bottom:10px;
}

.center {
	text-align:center;
}

/*缩短弹出页面的标题栏宽度*/
.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em 1em;
    position: relative;
}

